<!--顧客の登録情報編集する画面-->
<div class="container">
  <%= render "layouts/errors", obj: @customer %>
  <div class="row">
    <div class="col">
      <h4 class="my-5">会員情報編集</h4>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
      <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
      <table class="table table-borderless">
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name, class: "rounded" %>
                <%= f.text_field :first_name, class: "rounded" %></td>
          </tr>
  
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :furigana_last_name, class: "rounded" %>
            <%= f.text_field :furigana_first_name, class: "rounded" %></td>
          </tr>
  
          <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :post_code, class: "rounded" %></td>
          <td></td>
          </tr>
  
          <tr colspan="2">
          <td>住所</td>
          <td><%= f.text_field :address, size: 60, class: "rounded" %></td>
          <td></td>
          </tr>
  
          <tr>
          <td>電話番号</td>
          <td><%= f.text_field :tel_number, class: "rounded" %></td>
          <td></td>
          </tr>
  
          <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, class: "rounded" %></td>
          <td></td>
          </tr>
  
          <tr class="my-auto">
            <td></td>
            <td><%= f.submit "編集内容を保存", class:"btn btn-success" %></td>
            <td><%= link_to "退会する", customers_quit_path, class:"btn btn-danger" %></td>
          </tr>
        </table>
      <% end %>
  </div>
</div>