<div class="container">
  <div class="row">
    <h5 class="border d-flex justify-content-center my-3 px-3" >
      マイページ
    </h5>
  </div>
  <div class="row">
    <div class="col-md-7">
      <h5><b>登録情報 <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success ml-3" %></b></h5>
      <table class="table table-bordered border-info">
        <tr>
          <th class="bg-dark" style="width: 30%">氏名</th>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <th class="bg-dark">カナ</th>
          <td><%= @customer.furigana_full_name %></td>
        </tr>
        <tr>
          <th class="bg-dark">郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <th class="bg-dark">住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th class="bg-dark">電話番号</th>
          <td><%= @customer.tel_number %></td>
        </tr>
        <tr>
          <th class="bg-dark">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>

    </div>
  </div>
  <div class="d-flex align-items-center">
    <h5><b>配送先</b></h3>
    <%= link_to "一覧を見る",  addresses_path, class:"btn btn-primary ml-3" %>
  </div>
  <br>
  <div class="d-flex align-items-center">
    <h5><b>注文履歴</b></h3>
    <%= link_to "一覧を見る", orders_path, class:"btn btn-primary ml-3" %>
  </div>
</div>

