<div class="container">
  <div class="row">
    <div class="col-auto border d-flex justify-content-start my-5 px-3">
    <h5>
      商品一覧
    </h5>
    </div>

    <div class="col-auto text-right my-5">
      <button type="button" class="btn btn-outline-secondary btn-light rounded-circle p-0" style="width:2rem;height:2rem;">
        <%= link_to "＋", new_admin_item_path, class:"text-secondary"%>
      </button>
    </div>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
  
      <tbody>
        <% @items.each do |i| %>
          <tr>
            <td><%= i.id %></td>
            <td><%= link_to i.name, admin_items_show_path(@items) %></td>
            <td><%= i.price %></td>
            <td><%= i.genre.id %></td>
            <td><%= i.is_active %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @items %>

</div>