<div class="container">
  <div class="row">
    <h5 class="offset-2 col-6 d-flex justify-content-start my-5">管理者ログイン</h5>
  </div>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row d-flex justify-content-center">
      <diV class="col-2 offset-1">
        <div class="field my-3" >
          <%= f.label :メールアドレス, class: "my-3" %></br>
          <%= f.label :パスワード, class: "my-3" %>
        </div>
      </diV>
      <diV class="col-3">
        <div class="field my-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mx-auto my-3" %></br>
          <%= f.password_field :password, autocomplete: "current-password", class: "password my-3" %></br>
          <%= f.submit "ログイン",class:"btn btn-primary my-3" %>
        </div>
      </div>
    </diV>
  <% end %>
      <%= render "admin/shared/links" %>
</div>
