<div class="container">
  <div class="row">
    <h3 class="d-flex justify-content-start my-5">管理者ログイン</h3>
  </div>
  <div class="row d-flex justify-content-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field my-3" >
          <%= f.label :メールアドレス, class: "my-3" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mx-auto my-3" %>
        </div>
      
        <div class="field my-3">

          <%= f.label :パスワード, class: "my-3" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "password my-3" %></br>
          <%= f.submit "ログイン",class:"btn btn-primary my-3" %>
        </div>
      
      <% end %>
      
      <%= render "admin/shared/links" %>
  </div>
</div>
