<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">マイページ</h4>
      <div class="d-flex align-items-center">
        <h3><b><%= @customer.full_name %>さんの会員詳細</b></h3>
      </div>
        <table class="table table-bordered">
          <tr>
            <td class="bd-light">会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td class="bd-light">氏名</td>
            <td><%= @customer.full_name %></td>
          </tr>

          <tr>
            <td class="bd-light">フリガナ</td>
            <td><%= @customer.furigana_full_name %></td>
          </tr>

          <tr>
            <td class="bd-light">郵便番号</td>
            <td><%= @customer.post_code %></td>
          </tr>

          <tr>
            <td class="bd-light">住所</td>
            <td><%= @customer.address %></td>
          </tr>

          <tr>
            <td class="bd-light">電話番号</td>
            <td><%= @customer.tel_number %></td>
          </tr>

          <tr>
            <td class="bd-light">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>

          <tr>
            <td class="bd-light">会員ステータス</td>
            <td><%= @customer.is_active %></td>
          </tr>
        </table>

          <div class="d-flex align-items-center">
            <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-success ml-3" %>
            <%= link_to "注文履歴一覧を見る", admin_order_path, class:"btn btn-primary ml-3" %>
          </div>
    </div>
  </div>
</div>
