<!--ryon-->
<div class="container p-3">
  <div class="row">
   <h5 class="border d-flex justify-content-start my-5 px-3" >
        注文履歴一覧
      </h5>

      <table class="table">
        <thead>
          <tr>
            <td>購入日時</td>
            <td>購入者</td>
            <td>注文個数</td>
            <td>注文ステータス</td>
          </tr>
        </thead>
        <!--各注文情報に対して繰り返し処理-->
        <% @orders.each do |order| %>
        <tbody>
            <tr>
              <!--注文日をYYYY/MM/DD表示-->
              <td>
                <%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S') , admin_order_path(order) %>
              </td>
              <td>
                <%= order.customer.full_name %>
              </td>
              <td>
                <%= order.order_details.sum(:amount) %>
              </td>
              <td><%= order.status_i18n %></td>
               <!--注文ステータスを表示-->
               <!--status_i18n メソッドでステータスを国際化されたテキストに変換表示-->
            </tr>
        </tbody>
        <% end %>
      </table>
      <!--ページネーションを表示-->

      <div class="d-flex justify-content-center">
        <%= paginate @orders, theme: 'bootstrap-5' %>
      </div>

    </div>
  </div>
</div>



