<div class="container">
  <div class="row d-flex justify-content-center">
    <h5 class="border p-3 my-3">
      ジャンル編集
    </h5>
  </div>
  <br>
  <div class="row d-flex justify-content-center">
    <%= render "layouts/errors", obj: @genre %>
  </div>

  <div class="row d-flex justify-content-center">
    <div>
      <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
        <tr>
          <td><%= f.label :name, "ジャンル名", class: "mr-3" %></td>
          <td><%= f.text_field :name, class: "rounded mr-5" %></td>
          <td><%= f.submit "変更を保存", class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </div>
  </div>
</div>