<div class="container">
  <div class="row-auto">
    <h5　class="border d-flex justify-content-start my-5 px-3">
    配送先編集
  </h5>
  </div>
  
  <%= form_with model: @address do |f| %>
    <div class="row-auto d-flex justify-content-center">
      <diV class="col-auto">
        <div class="field my-1" >
          <%= f.label :"郵便番号(ハイフンなし)", class: "my-1" %></br>
          <%= f.label :"住所", class: "my-1" %></br>
          <%= f.label :"宛名", class: "my-1" %>
        </div>
      </diV>

      <diV class="col-auto">
        <div class="field my-1">
          <%= f.text_field :post_code, class: "my-1", style: "width:70%" %></br>
          <%= f.text_field :address, class:"my-1", style: "width:100%" %></br>
          <%= f.text_field :name, class: "my-1", style: "width:70%" %>
          <%= f.submit "変更内容を保存",class:"btn btn-success my-1" %>
        </div>
      </div>
    </div>
  <%end %>
</div>