<div class="container">
  <div class="row my-3">
    <div class="col-auto border d-flex justify-content-start">
      <h5>新規会員登録</h5>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>名前</td>
          <td>(姓)　</td>
          <td><%= f.text_field :last_name , placeholder: "令和", class: "rounded" %></td>
          <td>(名)　</td>
          <td><%= f.text_field :first_name, placeholder: "道子", class: "rounded" %></td>
          </td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td>(セイ)</td>
          <td><%= f.text_field :furigana_last_name, placeholder: "レイワ", class: "rounded" %></td>
          <td>(メイ)</td>
          <td><%= f.text_field :furigana_first_name, placeholder: "ミチコ", class: "rounded" %></td>
        </tr>

        <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td></td>
        <td><%= f.text_field :post_code, placeholder: "0000000", class: "rounded" %></td>
        <td></td>
        </tr>

        <tr>
        <td>住所</td>
        <td></td>
        <td colspan="3"><%= f.text_field :address,size:"60%", placeholder: "東京都渋谷区代々木神園町0-0", class: "rounded" %></td>
        </tr>

        <tr>
        <td>電話番号(ハイフンなし)</td>
        <td></td>
        <td><%= f.text_field :tel_number, placeholder: "0000000000", class: "rounded" %></td>
        <td></td>
        </tr>

        <tr>
        <td>メールアドレス</td>
        <td></td>
        <td><%= f.email_field :email, placeholder: "sample@example.com", class: "rounded" %></td>
        <td></td>
        </tr>
        
        <tr>
          <td><%= f.label :password, "パスワード" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
          </td>
          <td></td>
          <td><%= f.password_field :password, autocomplete: "new-password", class: "rounded" %></td>
        </tr>
        <tr>
          <td>パスワード(確認用)</td>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded" %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><%= f.submit "新規登録", class:"btn btn-success px-5" %></td>
        </tr>
      </table>

        

    <% end %>
  </div>
  <div class="row d-flex justify-content-start my-4">
    <h6 class="">既に登録済みの方は<%= render "public/shared/links" %></h6>
  </div>
</div>

