<!--ryon-->
<div class="container p-3">
  <div class="row">
    <h5 class="border d-flex justify-content-start my-5 px-3" >
        注文情報確認
    </h5>
    <div class="col-md-12">
      <table class="table">
        <tr>
          <td>商品名</td>
          <td>単価(税込)</td>
          <td>数量</td>
          <td>小計</td>
        </tr>
        <!--カート内のアイテムをループ処理-->
        <!--各アイテムの情報はカートアイテムモデルから取得-->
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag cart_item.item.image, size: "100x80" %>
            <strong><%= cart_item.item.name %></strong>
          </td>
          <td><%= cart_item.item.with_tax_price %>円</td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.item.with_tax_price*cart_item.amount %>円</td>
        </tr>
        <% end %>
      </table>

      <!--コントローラーで計算してから表示-->
      <table class="table">
        <tr>
          <td>送料</td>
          <td><%= @order.postage %>円</td>
        </tr>

        <tr>
          <td>商品合計</td>
          <td><%= @cart_items.sum { |cart_item| cart_item.subtotal } %>円</td>
        </tr>

        <tr>
          <td>ご請求額</td>
          <td><%= @order.total_payment %>円</td>
        </tr>
      </table>

      <div class="row">
        <h5 class="border d-flex justify-content-start my-5 px-3" >
          支払い方法
        </h5>
      </div>
      <!--選択されたお支払い方法を表示-->
      <% if @selected_payment_method == "credit_card" %>
        クレジットカード
      <% else %>
        銀行振込
      <% end %>
      

      <div class="row">
        <h5 class="border d-flex justify-content-start my-5 px-3" >
          お届け先
        </h5>
      </div>
      <!--@selected_addressに格納されたお届け先情報を表示-->
      <%= @selected_address %>
      <!--注文確定フォーム-->
      <%= form_with url: orders_path, method: :post do %>
        <!--隠しフィールド使用-->
        <!--選択されたお支払い方法をサーバに送信-->
        <%= hidden_field_tag 'order[payment_method]', @selected_payment_method %>
        <!--お届け先情報を送信-->
        <%= hidden_field_tag 'order[address_type]', @address_type %>
        <!--条件付き隠しフィールド-->
        <!--お届け先のタイプに応じて異なる情報を送信-->
        <!--登録済住所を選択-->
        <% if @address_type == "registered_address" %>
          <%= hidden_field_tag 'order[registered_address_id]', params[:order][:registered_address_id] %>
        <!--新しいお届け先住所を選択-->
        <% elsif @address_type == "new_address" %>
          <%= hidden_field_tag 'order[new_post_code]', params[:order][:new_post_code] %>
          <%= hidden_field_tag 'order[new_address]', params[:order][:new_address] %>
          <%= hidden_field_tag 'order[new_name]', params[:order][:new_name] %>
        <% end %>
        <br>
        <br
        <!--注文確定ボタン-->
        <%= submit_tag "注文を確定する", class: "btn btn-success" %>
      <% end %>

    </div>
  </div>
</div>