<!--<div class="container">-->
  <div class="row d-flex justify-content-center">
    <h4 style="display: inline-block; font-weight: bold;">商品一覧</h4>
    <h5 style="display: inline-block;">(全<%= @all_items.count %>件)</h5>
  </div>
  <br>
  <div class="item-wrap">
  <!--#cssで定義したコンテンツを中央へ-->
    <% @items.each do |item| %>

      <div class="item-box">
        <%= link_to item_path(item) do %>
          <%= image_tag item.get_image(180,150) %>
        <% end %>

        <div class="item-comment">
          <span class="item-name">
            <%= link_to item_path(item.id) do %>
            <%= item.name %>
            <% end %>
          </span>
          <br>
          <span class="item-price">￥<%= (item.price * 1.10).round %></span>
          <% if item.is_active %>
           <p class="text-success"><strong>販売中</strong></p>
            <% elsif %>
           <p class="text-warning"><strong>売り切れ</strong></p>
            <% end %>
        </div>
      </div>


    <% end %>
  </div>
    <div class="d-flex justify-content-center">
      <%= paginate @items, theme: 'bootstrap-5' %>
    </div>
<!--</div>    -->