<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= image_tag @item.get_image(400,500)%>
    </div>
    <div class="col-md-6">
      <table class="table table-borderless">
        <tr>
          <td><h3 style="font-weight: bold;"><%= @item.name %></h3></td>
        </tr>
        <tr>
          <td><h4><%= @item.explanation %></h4></td>
        </tr>
        <tr>
          <td><h3 style="font-weight: bold;">¥<%= @item.with_tax_price %>(税込)</h3></td>
        </tr>
        <tr>
          <td>
            <% if @item.is_active %>
              <% if customer_signed_in? %>
                <p class="text-success">
                  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
                    <%= f.hidden_field :customer_id, :value => current_customer.id %>
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.select :amount, *[1..50] , prompt: "個数選択" %>
                    <%= f.submit "カートに入れる", class: "btn btn-primary" %>
                  <% end %>
                </p>
              <% else %>
                <p class="text-secondary">
                  <%= link_to "購入にはログインが必要です", new_customer_session_path, class: "btn btn-info" %>
                </p>
              <% end %>
            <% elsif %>
             <p class="btn btn-outline-danger">売り切れ</p>
            <% end %>

          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

