<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container">
          <a class="navbar-brand mr-auto text-light" href="/"><h2>ながのCAKE🍰</h2></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>

                <li class="nav-item">
                  <%= link_to 'マイページ', customers_my_page_path, class:'btn btn-success m-2' %>
                </li>

                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: 'btn btn-success m-2' %>
                </li>

                <li class="nav-item">
                  <%= link_to "カート", cart_items_path, class: 'btn btn-success m-2' %>
                </li>

                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-success m-2' %>
                </li>

              <% elsif admin_signed_in? %>

                <li class="nav-item">
                  <%= link_to "商品一覧", admin_items_path, class: 'btn btn-success m-2' %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-success m-2' %>
                </li>
                <li class="nav-item">
                  <%= link_to "注文履歴一覧", admin_orders_path, class: 'btn btn-success m-2' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-success m-2' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-success m-2' %>
                </li>

              <% else %>

                <li class="nav-item ">
                  <%= link_to "About", about_path, class: 'btn btn-success m-2' %>
                </li>

                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: 'btn btn-success m-2' %>
                </li>

                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-success m-2' %>
                </li>

                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-success m-2' %>
                </li>

              <% end %>
            </ul>
          </div>


        </div>
      </nav>
    </header>

    <main>
    <div><%= flash[:notice] %>
    </div>
    <%= yield %>
    </main>

    <footer class='fixed-bottom text-light bg-warning'>
      <div class="container">
        	<div class='row'>
          	<div class='mx-auto my-2'>
          		<h5>ながのCAKE🍰</h5>
          	</div>
          </div>
      </div>
    </footer>

  </body>
</html>

